@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Kalam', cursive;
}
.all{
    @apply bg-white text-black
}
.military{
    @apply border-2 border-red-500 rounded
}

.medical{
    @apply border-2 border-green-500 rounded
}

.vehicle{
    @apply border-2 border-gray-500 rounded
}

.energy{
    @apply border-2 border-blue-500 rounded
}

.other{
    @apply border-2 border-purple-500 rounded
}